.cricle_box {position:fixed; left:-80px; z-index:-1; top:-40px;}
.circle {position:absolute; border-radius:100%;}
.circle1 {
	top:-90px; left:-1%; width:280px; height:280px;
	background: rgb(46,43,52);
	background: -moz-linear-gradient(180deg, rgba(46,43,52,1) 0%, rgba(77,74,82,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(46,43,52,1) 0%, rgba(77,74,82,1) 100%);
	background: linear-linear-gradient(180deg, rgba(46,43,52,1) 0%, rgba(77,74,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2E2B34",endColorstr="#4D4A52",GradientType=1);
	animation:rot 4s linear infinite;
}
.circle2 {
	top:-70px; left:-1.5%; width:240px; height:240px; 
	background: rgb(207,27,27);
	background: -moz-linear-gradient(180deg, rgba(207,27,27,1) 0%, rgba(88,44,44,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(207,27,27,1) 0%, rgba(88,44,44,1) 100%);
	background: linear-gradient(180deg, rgba(207,27,27,1) 0%, rgba(88,44,44,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cf1b1b",endColorstr="#582c2c",GradientType=1);
	animation:rot 4s linear infinite;
}
.circle3{
	width:210px; height:210px; top:-15px; left:-4%; 
	background: rgb(207,27,27);
	background: -moz-linear-gradient(180deg, rgba(88,44,44,1) 0%, rgba(207,27,27,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(88,44,44,1) 0%, rgba(207,27,27,1) 100%);
	background: linear-gradient(180deg, rgba(88,44,44,1) 0%, rgba(207,27,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#582c2c",endColorstr="#cf1b1b",GradientType=1);
	animation:rot 3s linear infinite;
}

@keyframes rot {
   0%  {
    transform:rotate(0deg);
  }
   25%  {
    transform:rotate(90deg);
  }
  50%  {
    transform:rotate(180deg);
  }
   75%  {
    transform:rotate(270deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

@media (max-width:767px){
.cricle_box {left: -200px; top: -80px;}
.banner_img {height:100%;}
}